'''
MLE - maximum likelehood estimates

log will be used to transform big number
like 100 will become log100=2
10000 will become log10000=4
log base10 will be used
P(s)=probability of success
log(odds)=log(P(s)/1-P(s))

converted big number into single line curve as +infinity and -infinity and 0

1) Probability to log odds                                           
2) using sigmoid function convert straight line to curve        
3) sigmoid fn=e^x=1+e^x                                             
4) putting x=log(odds) we will get probability as          P=e^log(odds)/1+e^log(odds)                                
5) we get probability wrt x curve                          
6) this curve gives us the likelihood                      
7) multiply this likelihood                                
8) use multiplication as it is for class 1 and for class 0 1-likelihood should be taken                                
9) 


       


'''

In [2]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv(r"C:\Users\Shavvy\OneDrive\Desktop\heart1.csv")

In [7]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,0

In [9]:
df.target.value_counts()

1    165
0    138
Name: target, dtype: int64

In [10]:
import matplotlib.pyplot as plt